<!--
 Nishtha Patel- 200474598
 Assignment 1 : express Portfolio
 -->
 <div class="section">
    <div class="abt">

    <div class="title-1">
<h1>About me</h1>
<h3>Professional with strong interpersonal, communication, and creative thinking abilities,aiming to leverage my skills to fulfill the requirement of your company. Frequently praised
  for being diligent by my peers may assist to achieve companies goals.</h3>
</div> 

<div class="title-2">
<h1>Education</h1>
<h3>Computer Programming [GPA:3.2]                        
<br>Georgian College, Barrie, ON
<br>Key courses:  Advanced Web programming, Object-oriented programming languages and data management, System Analysis, Web development, and Mobile Applications.
<br>Deans list student.
</h3>
</div> 
</div>
    <div class ="right-text">
        <img src="../images/I.jpg">
    </div>
    </div>
</div>  
</div>

