<section class="index-page">
    <div class="meme">

    <h2>WEB DEVELOPER</h2>
    <h1>Nishtha Patel</h1>

    <p>I can provide clean code and perfect design to make the
        website more interactive with web animations.</p>
    </div>

    <!-- Section: Social media -->
    <div class="centericon">
      <!-- Facebook -->
      <a href="https://www.facebook.com/profile.php?id=100080565043339"><img id="icom" src="../images/fb.png" alt="icon" /> </a>
<!-- Linkedin-->
     <a  href="https://www.linkedin.com/in/nishtha-patel-332b7820b/"><img id="icon" src="../images/linkedin.png" alt="icon" /> </a>
<!--github-->
    <a href="https://github.com/NishthaPatel06"><img id="icon" src="../images/git.png" alt="icon" /> </a>
      
    </div>
    <!-- Section: Social media -->
