 <!--
 Nishtha Patel- 200474598
 Assignment 1 : express Portfolio
 -->
 <div id="project">
    <div class="heading">
        <h3>My Projects</h3>
    </div>

    <div class="project-item">
        <section>
        <div class="project-content" style="margin-bottom: 80px;">
            <a href="https://github.com/NishthaPatel06/MoneyConverter" class="project-box">
                <img src="../images/money.jpg" alt="ss">
            </a>
        </div>

        <div class="project-content">
            <a href="https://github.com/NishthaPatel06/LanguageTranslatorUsingApi" class="project-box">
                <img src="../images/language.jpg" alt="ss">
            </a>
        </div>
    </section>

    <section>
        <div class="project-content">
            <a href="https://github.com/NishthaPatel06/PizzaOrderForm" class="project-box">
                <img src="../images/pizza.jpg" alt="ss">
            </a>
        </div>

        <div class="project-content">
            <a href="https://github.com/NishthaPatel06/SeeNSayStorymaker" class="project-box">
                <img src="../images/story.jpg" alt="ss">
            </a>
        </div>

    </section>
    </div>
    
</div>