<!--
 Nishtha Patel- 200474598
 Assignment 1 : express Portfolio
 -->
 <div class="about">
    <div class="header">
        <h1>MY SKILLS</h1>
</div>
<div class="container">
   <div class ="box-skill">
    <div class="title-skill">
        <div class="img">
            <img src="../images/html.jpg" class="skill-icon">
        </div>
        <h3>HTML</h3>
    </div>
    <p>A markup language that web browsers use to interpret and compose text, images,
         and other material into visual or audible web pages.</p>
   </div>
    <div class ="box-skill">
    <div class="title-skill">
        <div class="img">
            <img src="../images/js.jpg" class="skill-icon">
        </div>
        <h3>JAVASCRIPT</h3>
    </div>
    <p>A scripting language that enables you to create dynamically updating content,
         animate images, and pretty much everything else.</p>
   </div>
    <div class ="box-skill">
    <div class="title-skill">
        <div class="img">
            <img src="../images/c.jpg" class="skill-icon">
        </div>
        <h3>C++</h3>
    </div>
    <p>An object-oriented computer language created by notable computer scientist as part
         of the evolution of the C family of languages.</p>
   </div>
    <div class ="box-skill">
    <div class="title-skill">
        <div class="img">
            <img src="../images/asp.jpg" class="skill-icon">
        </div>
        <h3>ASP.NET</h3>
    </div>
    <p>An open-source, server-side web-application framework designed for web development to produce dynamic web pages.</p>
   </div>
    <div class ="box-skill">
    <div class="title-skill">
        <div class="img">
            <img src="../images/java.jpg" class="skill-icon">
        </div>
        <h3>JAVA</h3>
    </div>
    <p>A high-level, class-based, object-oriented programming language that is designed to have as few implementation 
        dependencies.</p>
   </div>
    <div class ="box-skill">
    <div class="title-skill">
        <div class="img">
            <img src="../images/swift.jpg" class="skill-icon">
        </div>
        <h3>SWIFT</h3>
    </div>
    <p>A general-purpose, multi-paradigm, compiled programming language developed by Apple Inc. </p>
   </div>
</div>
</div>